.navbar-brand img {
    max-height: 100px; /* Ajuste a altura do logotipo */
    border-radius: 15px;
    padding: 0px;
}
.navbar {
    background-color: #e25fa9; /* Cor de fundo do header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
.nav-link {
    font-weight: 600; /* Peso da fonte dos links */
    color: #333; /* Cor do texto dos links */
}
.nav-link:hover {
    color: #fcfcfc; /* Cor do texto ao passar o mouse */
}

/* Config para Inicio.html*/
.menu_inicio {
    width: 50%; /* Largura do container (50% da tela) */
    height: 300px; /* Altura do container */
    margin: 0 auto; /* Centraliza o container horizontalmente */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto */
}
.texto_inicio {
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
    color: #333;
}


body {
    font-family: Arial, sans-serif;
    background-color: #e799c5;
    margin: 0;
    padding: 0;
}

.cardapio_escola {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.doces_escolha {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.doces_escolha img {
    max-width: 100%;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
.doces_escolha h3 {
    margin: 10px 0;
}
.doces_escolha p {
    color: #000000;
    font-weight: bold;
}
.doces_escolha button {
    background-color: #e25fa9;
    font-size: large;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.doces_escolha button:hover {
    background-color: #a454ad;
}

/* botao do contato*/
.btn-customizado {
    background-color: #e25fa9;
    color: rgb(0, 0, 0);
}

.btn-customizado:hover {
    background-color: #a454ad;
}

/* link do instagram */
.instagram-link {
    text-decoration: none;
    color: #E1306C; /* Cor do Instagram */
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o ícone e o texto */
}
.instagram-link:hover {
    color: #C13584; /* Cor ao passar o mouse */
}

/* qr code */
.qr-code {
    text-align: center;
    margin: 20px;
}
.qr-code img {
    max-width: 200px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;

}